.app-edit-note{
    background-color: #000000c7;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container-edit{
  background: linear-gradient(90deg, #BEAED5 0%,  #D0CDDA 150%);
 margin-top: 50px;
 padding-bottom: 10px;
  width: 700px;
  border-radius: 5px ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    
  }
.input-edite{
 

}
.label-edite{
  font-size: 18px;
  padding-right:10px ;
  z-index: 999;
  color: black;
}
.btn-update{
  margin-left:120px;
  margin-top: 10px;
    color: aliceblue;
    background-color: #7E7BAE ;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 80px;
  
    font-family: 'Prompt', sans-serif;
   
}
.btn-cancle{
  margin-left:10px;
    color: aliceblue;
    background-color: #EBBBA7 ;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 80px;
  
    font-family: 'Prompt', sans-serif;
  }

.btn-edite{
 
  margin-top: 10px;
    color: aliceblue;
    background-color: #7E7BAE ;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 80px;
  
    font-family: 'Prompt', sans-serif;
}
.btn-delete{
margin-left: 10px;
  color: aliceblue;
  background-color: #EBBBA7 ;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: 80px;

  font-family: 'Prompt', sans-serif;
}
.emp-container{
  font-size:18px;
  margin: 20px;
  background-color: #ffffff;
  width: 40%;
  height: 100%;
  padding: 50px;
  border-radius: 5px;
  font-family: 'Prompt', sans-serif;
  box-shadow: 2px 2px 6px 6px rgba(112, 112, 112, 0.2);
}